doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    a(href='/daehan') Daehan &nbsp;
    a(href='/daewoong') Daewoong &nbsp;
    a(href='/sohi') Sohi &nbsp;
    a(href='/dosun') Dosun &nbsp;
    a(href='/gwangsik') Gwangsik &nbsp;

    block content
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')